<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="Example E-Commerce Website" content="">
    <meta name="Dame Agnes Productions/bpj101" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>DAP-Commerce</title>
  </head>