<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="Example E-Commerce Website" content="">
    <meta name="Dame Agnes Productions/bpj101" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Jumbotron Template for Bootstrap</title>
  </head>