  <% include partials/_head %>
  <body>
    <!-- navbar ejs partial -->
    <div class="container">
      <% include partials/_navbar %>
      Example row of columns
      <%- body -%>
      <hr>
      <!-- footer ejs partial -->
      <% include partials/_footer %>
    </div>
    <% include partials/_scripts %>
  </body>
</html>